{{yield}}
<div class="search-box">
  <label id="search-input">{{input type="text" value=search placeholder="what word do you want to learn?"}}</label>
      {{#link-to "word" search tagName="button" class="search-button"}}Learn{{/link-to}}
      </div>
