<h2><em class="g-italic">[{{definition.partOfSpeech}}]</em> <span class="span-definition">{{definition.description}}</span></h2> 
<ul>
  {{#each definition.examples as |item|}}
    <li>{{item}}</li>
  {{/each}}
</ul>
