<div class="word-section-top">
<h1 class="keyword">{{word.spell}}</h1>
</div>
<div>
  <span class="span-pronunciation">[{{word.pronunciation}}]</span>
  <span>
{{star-rating frequency=word.frequency}}
  </span>
</div>
<div>
  <ol class="definition-list">
    {{#each word.definitions as |item|}}
      <li>
        {{word-definition definition=item}}
      </li>
    {{/each}}
  </ol>
</div>
