{{outlet}}
<div id="index-wrapper">
  <form id="search-box">
      <label id="search-input"><input type="text" placeholder="what word do you want to learn?"></label>
      <button id="search-button">Button</button>
  </form>

</div>
